Core/bin/Debug/FxCopSdk.dll
Core/bin/Debug/InjectionCop.dll
Core/bin/Debug/InjectionCop.pdb
UnitTests/bin/Debug/Microsoft.VisualStudio.CodeAnalysis.Interop.dll
UnitTests/bin/Debug/Microsoft.VisualStudio.CodeAnalysis.Common.dll
UnitTests/bin/Debug/nunit.framework.dll
UnitTests/bin/Debug/Rhino.Mocks.dll
Core/bin/Debug/JetBrains.Annotations.dll
Core/bin/Debug/JetBrains.Annotations.xml
Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Core/bin/Debug/Microsoft.Cci.dll
Core/bin/Debug/Microsoft.VisualStudio.CodeAnalysis.Common.dll
Core/bin/Debug/Microsoft.VisualStudio.CodeAnalysis.Interop.dll
Core/obj/Debug/InjectionCop.Core.csproj.FileListAbsolute.txt
Core/obj/Debug/InjectionCop.Core.csprojResolveAssemblyReference.cache
Core/obj/Debug/InjectionCop.dll
Core/obj/Debug/InjectionCop.pdb
Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InjectionCop.sln.DotSettings.user
InjectionCop.v11.suo
IntegrationTests/bin/Debug/Blacklist.xml
IntegrationTests/bin/Debug/FxCopSdk.dll
IntegrationTests/bin/Debug/InjectionCop.IntegrationTests.dll
IntegrationTests/bin/Debug/InjectionCop.IntegrationTests.dll.orig
IntegrationTests/bin/Debug/InjectionCop.IntegrationTests.instr.pdb
IntegrationTests/bin/Debug/InjectionCop.IntegrationTests.pdb
IntegrationTests/bin/Debug/InjectionCop.dll
IntegrationTests/bin/Debug/InjectionCop.dll.orig
IntegrationTests/bin/Debug/InjectionCop.instr.pdb
IntegrationTests/bin/Debug/InjectionCop.pdb
IntegrationTests/bin/Debug/JetBrains.Annotations.dll
IntegrationTests/bin/Debug/JetBrains.Annotations.xml
IntegrationTests/bin/Debug/Microsoft.Cci.dll
IntegrationTests/bin/Debug/Microsoft.VisualStudio.CodeAnalysis.Common.dll
IntegrationTests/bin/Debug/Microsoft.VisualStudio.CodeAnalysis.Interop.dll
IntegrationTests/bin/Debug/nunit.framework.dll
IntegrationTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IntegrationTests/obj/Debug/InjectionCop.IntegrationTests.csproj.FileListAbsolute.txt
IntegrationTests/obj/Debug/InjectionCop.IntegrationTests.csprojResolveAssemblyReference.cache
IntegrationTests/obj/Debug/InjectionCop.IntegrationTests.dll
IntegrationTests/obj/Debug/InjectionCop.IntegrationTests.pdb
IntegrationTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
IntegrationTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
IntegrationTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTests/bin/Debug/FxCopSdk.dll
UnitTests/bin/Debug/InjectionCop.IntegrationTests.dll
UnitTests/bin/Debug/InjectionCop.IntegrationTests.pdb
UnitTests/bin/Debug/InjectionCop.UnitTests.dll
UnitTests/bin/Debug/InjectionCop.UnitTests.dll.orig
UnitTests/bin/Debug/InjectionCop.UnitTests.instr.pdb
UnitTests/bin/Debug/InjectionCop.UnitTests.pdb
UnitTests/bin/Debug/InjectionCop.dll
UnitTests/bin/Debug/InjectionCop.dll.orig
UnitTests/bin/Debug/InjectionCop.instr.pdb
UnitTests/bin/Debug/InjectionCop.pdb
UnitTests/bin/Debug/JetBrains.Annotations.dll
UnitTests/bin/Debug/JetBrains.Annotations.xml
UnitTests/bin/Debug/Microsoft.Cci.dll
UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTests/obj/Debug/InjectionCop.UnitTests.csproj.FileListAbsolute.txt
UnitTests/obj/Debug/InjectionCop.UnitTests.csprojResolveAssemblyReference.cache
UnitTests/obj/Debug/InjectionCop.UnitTests.dll
UnitTests/obj/Debug/InjectionCop.UnitTests.pdb
UnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Core/obj/
UnitTests/bin/
IntegrationTests/bin/
packages/
IntegrationTests.VB/bin/
IntegrationTests.VB/obj/
TestResults/InjectionCop.TE.Tests_log.ldf
TestResults/InjectionCop.TE.Tests.mdf
TestResults/74d916c6-1950-40fe-b03f-88fdf2a20105/michael.racz_W0384 2012-12-14 15_49_57.coverage
TestResults/12d3a39d-3ef6-43d4-a883-09e1571363c0/michael.racz_W0384 2012-12-14 16_04_45.coverage
TestResult.xml
IntegrationTests/InjectionCop.IntegrationTests.csproj.VisualState.xml
IntegrationTests/InjectionCop.IntegrationTests.VisualState.xml
IntegrationTests.VB/InjectionCop.IntegrationTests.VB.vbproj.user
InjectionCopTest.VisualState.xml
Core/bin/Debug/InjectionCop.instr.pdb
Core/InjectionCop.Core.csproj.DotSettings.user
UnitTests/obj/Release/build.force
UnitTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
IntegrationTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
IntegrationTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
IntegrationTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
IntegrationTests/obj/Release/InjectionCop.IntegrationTests.pdb
IntegrationTests/obj/Release/InjectionCop.IntegrationTests.dll
IntegrationTests/obj/Release/InjectionCop.IntegrationTests.csprojResolveAssemblyReference.cache
IntegrationTests/obj/Release/InjectionCop.IntegrationTests.csproj.FileListAbsolute.txt
IntegrationTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Core/bin/Release/Microsoft.VisualStudio.CodeAnalysis.Interop.dll
Core/bin/Release/Microsoft.VisualStudio.CodeAnalysis.Common.dll
Core/bin/Release/Microsoft.Cci.dll
Core/bin/Release/InjectionCop.pdb
Core/bin/Release/InjectionCop.dll
Core/bin/Release/FxCopSdk.dll
UnitTests/obj/Release/InjectionCop.UnitTests.csproj.FileListAbsolute.txt
UnitTests/obj/Release/InjectionCop.UnitTests.csprojResolveAssemblyReference.cache
UnitTests/obj/Release/InjectionCop.UnitTests.dll
UnitTests/obj/Release/InjectionCop.UnitTests.pdb
